In [34]:
%matplotlib inline
import pandas as pd

In [35]:
 data= pd.read_csv("C:/Users/Hira singh/Desktop/cast.csv")

In [36]:
data.head(10)

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,NaN
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
5,Straight Outta Compton,2015,$hutter,actor,Club Patron,NaN
6,Straight Outta Compton,2015,$hutter,actor,Dopeman,NaN
7,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
8,"Lapis, Ballpen at Diploma, a True to Life Journey",2014,Jori ' Danilo' Jurado Jr.,actor,Jaime (young),9.0
9,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN

### How many movies are listed in the titles dataframe?

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   title      1048575 non-null  object
 1   year       1048575 non-null  int64
 2   name       1048575 non-null  object
 3   type       1048575 non-null  object
 4   character  1048575 non-null  object
 5   n          640649 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 48.0+ MB

In [37]:
data.columns

Index(['title', 'year', 'name', 'type', 'character', 'n'], dtype='object')

In [7]:
data.title

0                Closet Monster
1               Suuri illusioni
2           Battle of the Sexes
3          Secret in Their Eyes
4                    Steve Jobs
                   ...
1048570                 Iza sna
1048571      Snivaj, zlato moje
1048572                  H-8...
1048573              C.R.A.Z.Y.
1048574          Piccoli fuochi
Name: title, Length: 1048575, dtype: object

In [8]:
data.count()

title        1048575
year         1048575
name         1048575
type         1048575
character    1048575
n             640649
dtype: int64

### What are the earliest two films listed in the titles dataframe?

In [4]:
data.head(2)

             title  year      name   type character     n
0   Closet Monster  2015  Buffy #1  actor   Buffy 4   NaN
1  Suuri illusioni  1985    Homo $  actor    Guests  22.0

### How many movies have the title "Hamlet"?

In [111]:
data[data.title.str.contains('Hamlet')]

,title,year,name,type,character,n
1615,Hamlet,1996,Riz Abbasi,actor,Attendant to Claudius,1.0
4250,Royal Shakespeare Company: Hamlet,2016,Hiran Abeysekera,actor,Horatio,8.0
6421,"Hamlet, Prince of Denmark",1997,Ernest Abuba,actor,The King,NaN
7438,Hamlet,1921,Fritz Achterberg,actor,"Fortinbras,",9.0
11242,Hamlet,2009,Hayden Adams,actor,Laertes,7.0
...,...,...,...,...,...,...
1039896,"Harry, Hamlet and I",2013,Philip J. Russell,actor,Dean,NaN
1041808,Zombie Hamlet,2012,Gildart Jackson,actor,Professor Reginald Wellington III,NaN
1041828,Hamlet,1969,Gordon Jackson,actor,Horatio,7.0
1042957,Zombie Hamlet,2012,Ryan H. Jackson,actor,Fortinbras,NaN
1044207,Hamlet,1996,Derek Jacobi,actor,Claudius,25.0

In [116]:
data['title'].value_counts()['Hamlet']

113

### How many movies are titled "North by Northwest"?

In [6]:
data[data.title.str.contains('North by Northwest')]

,title,year,name,type,character,n
12151,North by Northwest,1959,Stanley Adams,actor,Lieutenant Harding,NaN
27852,North by Northwest,1959,Andy Albin,actor,Farmer,NaN
54093,North by Northwest,1959,Don Anderson,actor,Worker,NaN
54307,North by Northwest,1959,Ernest Anderson,actor,Porter on Twentieth Century Ltd.,NaN
92195,North by Northwest,1959,Malcolm Atterbury,actor,Man at Prairie Crossing,NaN
97833,North by Northwest,1959,Tol Avery,actor,State Police Detective,NaN
109025,North by Northwest,1959,Sam Bagley,actor,Courtroom Spectator,NaN
114334,North by Northwest,1959,Frank Baker,actor,Man at Auction,NaN
137656,North by Northwest,1959,Baynes Barron,actor,Taxi Driver #2,NaN
151717,North by Northwest,1959,Brandon Beach,actor,Man at Auction,NaN
176030,North by Northwest,1959,John Beradino,actor,Sergeant Emile Klinger,NaN
198496,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
222299,North by Northwest,1959,Stephen Bolster,actor,Man with Camera,NaN
343701,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
344204,North by Northwest,1959,Steve Carruthers,actor,Man at Auction,NaN
350192,North by Northwest,1959,Taggart Casey,actor,Shaving Man,NaN
356803,North by Northwest,1959,Bill Catching,actor,Auction Attendant,NaN
424676,North by Northwest,1959,Bob (II) Coe,actor,Cropduster Pilot,NaN
447893,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
467714,North by Northwest,1959,David A. Cox,actor,Police Officer on Horse,NaN
468709,North by Northwest,1959,Walter Coy,actor,U.S. Intelligence Agency Official,NaN
479498,North by Northwest,1959,Jimmy Cross,actor,Taxi Driver #1,NaN
502759,North by Northwest,1959,Jack Daly,actor,Train Steward,NaN
503758,North by Northwest,1959,John Damler,actor,Police Lieutenant,NaN
581619,North by Northwest,1959,Lawrence Dobkin,actor,U.S. Intelligence Agency Official,NaN
605839,North by Northwest,1959,Alphonso DuBois,actor,Man at United Nations Building,NaN
642085,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
679471,North by Northwest,1959,Tommy Farrell,actor,Eddie - Elevator Starter,NaN
682655,North by Northwest,1959,Adolph Faylauer,actor,Bald Bidder,NaN
786648,North by Northwest,1959,Paul Genge,actor,Lieutenant Hagerman,NaN
808703,North by Northwest,1959,Ned Glass,actor,Ticket Seller,NaN
821927,North by Northwest,1959,James Gonzalez,actor,Man at Auction,NaN
840374,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
849881,North by Northwest,1959,Tom Greenway,actor,Silent State Police Detective,NaN
884907,North by Northwest,1959,Robert Haines,actor,Man at United Nations Building,NaN
891171,North by Northwest,1959,Stuart Hall,actor,Train Passenger,NaN
944454,North by Northwest,1959,Len Hendry,actor,Police Lieutenant,NaN
969404,North by Northwest,1959,Alfred Hitchcock,actor,Man Who Misses Bus,NaN
982746,North by Northwest,1959,Stuart Holmes,actor,Hotel Lounge Patron,NaN
1026719,North by Northwest,1959,Hideo Inamura,actor,Man at United Nations Building,NaN
1041665,North by Northwest,1959,Eugene Jackson,actor,Security Guard at Auction,NaN

In [115]:
data['title'].value_counts()['North by Northwest']

41

### When was the first movie titled "Hamlet" made?

In [5]:
#data["year"]
Hamlet_data= data[data["title"]=='Hamlet']
print(Hamlet_data)

          title  year              name   type              character     n
1615     Hamlet  1996        Riz Abbasi  actor  Attendant to Claudius   1.0
7438     Hamlet  1921  Fritz Achterberg  actor            Fortinbras,   9.0
11242    Hamlet  2009      Hayden Adams  actor                Laertes   7.0
11243    Hamlet  2009      Hayden Adams  actor                 Player   7.0
13907    Hamlet  1913       Eric Adeney  actor               Reynaldo  14.0
...         ...   ...               ...    ...                    ...   ...
1013423  Hamlet  2009  Matt (II) Hurley  actor                  Osric  10.0
1013424  Hamlet  2009  Matt (II) Hurley  actor           Guildenstern  10.0
1037016  Hamlet  1996     Ravil Isyanov  actor              Cornelius  24.0
1041828  Hamlet  1969    Gordon Jackson  actor                Horatio   7.0
1044207  Hamlet  1996      Derek Jacobi  actor               Claudius  25.0

[113 rows x 6 columns]

In [8]:
Hamlet=data[data['title'].str.contains('Hamlet')]

In [9]:
sorted_Hamlet=Hamlet.sort_values('year')
print(sorted_Hamlet)

                                    title  year              name   type  \
954648                             Hamlet  1911       Aage Hertel  actor
132982                             Hamlet  1913       J.H. Barnes  actor
174961                             Hamlet  1913   Grendon Bentley  actor
447543                             Hamlet  1913      S.A. Cookson  actor
930908                             Hamlet  1913      George Hayes  actor
...                                   ...   ...               ...    ...
392107                      Hamlet Frezer  2016       Chico Chico  actor
855814  Royal Shakespeare Company: Hamlet  2016  Marcus Griffiths  actor
58977   Royal Shakespeare Company: Hamlet  2016   Romayne Andrews  actor
727873                      Hamlet Frezer  2016     Bayoumi Fouad  actor
152897                        Hamlet (IV)  2016          Taz Bear  actor

               character     n
954648          Claudius   2.0
132982          Polonius   4.0
174961        Fortinbras   7.0
447543           Horatio   3.0
930908             Osric  10.0
...                  ...   ...
392107  Madih El Balbosy   2.0
855814           Laertes   6.0
58977              Osric  11.0
727873             Sobhy   3.0
152897       Royal Hound   NaN

[312 rows x 6 columns]

In [114]:
first_Hamlet_year=sorted_Hamlet['year'].iloc[0]
print(f'the first"Hamlet" movie was made in {first_Hamlet_year}')

the first"Hamlet" movie was made in 1911

### List all of the "Treasure Island" movies from earliest to most recent.

In [116]:
data.loc[data['title']=='Treasure Island']

,title,year,name,type,character,n
9432,Treasure Island,1934,Robert Adair,actor,Tom - Seaman,NaN
13253,Treasure Island,1950,Chris Adcock,actor,Pike,26.0
16246,Treasure Island,1985,Yves Afonso,actor,French captain,8.0
42039,Treasure Island,1972,Cristino Almod?var,actor,O'Brien,16.0
55071,Treasure Island,1934,John (XII) Anderson,actor,Pirate of the Spanish Main,18.0
...,...,...,...,...,...,...
977651,Treasure Island,1920,Harry Holden,actor,Capt. Smollett,9.0
999455,Treasure Island,1934,Olin Howland,actor,Pirate of the Spanish Main,13.0
1033710,Treasure Island,1934,Charles Irwin,actor,Pirate of the Spanish Main,14.0
1036658,Treasure Island,1972,V?ctor Israel,actor,Morgan,14.0
1040574,Treasure Island,1950,Stephen Jack,actor,Job,19.0

In [100]:
sorted_Treasure_Island = Treasure_Island.sort_values('year',ascending= True)
print(sorted_Treasure_Island[['title','year']])

                                         title  year
840745                         Treasure Island  1918
339256                         Treasure Island  1918
909157                         Treasure Island  1918
830114                         Treasure Island  1918
537825                         Treasure Island  1920
...                                        ...   ...
199140  National Theatre Live: Treasure Island  2015
511053  National Theatre Live: Treasure Island  2015
448109  National Theatre Live: Treasure Island  2015
712520  National Theatre Live: Treasure Island  2015
112778  National Theatre Live: Treasure Island  2015

[209 rows x 2 columns]

### How many movies were made in the year 1950?

In [10]:
#data["year"]
movies_1950=data[data['year']==1950]

In [119]:
print(movies_1950[['title','year']])

                             title  year
266               Palletoori Pilla  1950
429                   Hallin Janne  1950
430                   Hallin Janne  1950
1481     Fortunes of Captain Blood  1950
1497          The Baron of Arizona  1950
...                            ...   ...
1046679         The Asphalt Jungle  1950
1047478                  Dark City  1950
1047512                     Sierra  1950
1047937         Medan staden sover  1950
1047951          In a Lonely Place  1950

[7389 rows x 2 columns]

### How many movies were made in the year 1960?

In [122]:
movies_1960=data[data['year']==1960]
print(movies_1960[['title','year']])

                              title  year
68                     De zaak M.P.  1960
115             Thunder in Carolina  1960
133                        Noi duri  1960
265      Sri Venkateswara Mahatmyam  1960
268      Sri Venkateswara Mahatmyam  1960
...                             ...   ...
1047649              Hum Hindustani  1960
1047842        Fabrik der Offiziere  1960
1048239      Return of Mr. Superman  1960
1048240      Return of Mr. Superman  1960
1048549                  Tava laime  1960

[5608 rows x 2 columns]

### How many movies were made from 1950 through 1959?

In [124]:
movies_1950=data[(data['year']>=1950) & (data['year']<=1959)]

In [126]:
print(f'the number of the movie is:{len(movies_1950)}')

the number of the movie is:67706

### In what years has a movie titled "Batman" been released?

In [136]:
Batman_movies=data[data['title'].str.contains('Batman')]

In [137]:
print(Batman_movies[['title','year']])

                                      title  year
1026                  Batman Fights Dracula  1967
1027                  Batman Fights Dracula  1967
4281     Batman v Superman: Dawn of Justice  2016
11311    Batman v Superman: Dawn of Justice  2016
14827                     Batman: The Movie  1966
...                                     ...   ...
1032359  Batman v Superman: Dawn of Justice  2016
1037237                      Batman & Robin  1997
1041165  Batman v Superman: Dawn of Justice  2016
1043808                      Batman Forever  1995
1043887                              Batman  1943

[421 rows x 2 columns]

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [11]:
data.columns

Index(['title', 'year', 'name', 'type', 'character', 'n'], dtype='object')

In [6]:
n_column='n'
title_column='title'

In [7]:
Inception_movies=data[data['title'].str.contains('Inception')]
print(Inception_movies[['title','year','character','type','n']])

                                                    title  year  \
56138   Fraud in the Inception: Who killed Robert Haml...  2013
94333                                           Inception  2010
143138                                          Inception  2010
176819                                          Inception  2010
190249                                          Inception  2010
250191                                          Inception  2010
314663                                          Inception  2010
321091                                          Inception  2010
361119                                          Inception  2010
417982                                          Inception  2010
428199                                          Inception  2010
498708                                          Inception  2010
569504                                          Inception  2010
659835                                          Inception  2010
666157                                          Inception  2010
682511                                          Inception  2010
684215                                          Inception  2010
711192                                          Inception  2010
779284                                          Inception  2010
783405                                          Inception  2010
802478                                          Inception  2010
803728                                          Inception  2010
806524                                          Inception  2010
829338                                          Inception  2010
878274                                          Inception  2010
907468                                          Inception  2010
932903                                          Inception  2010
971196                                          Inception  2010

                    character   type     n
56138                     Mac  actor   NaN
94333           LAX Passenger  actor   NaN
143138  Fischer's Jet Captain  actor  44.0
176819               Browning  actor   8.0
190249       Mombasan Gambler  actor   NaN
250191         Bridge Sub Con  actor  29.0
314663                  Miles  actor  11.0
321091       Elderly Bald Man  actor  20.0
361119          LAX Passenger  actor   NaN
417982         Bridge Sub Con  actor  26.0
428199            Bar Sub Con  actor  34.0
498708         Bridge Sub Con  actor  30.0
569504                   Cobb  actor   1.0
659835        Italian Gambler  actor   NaN
666157           Stock Broker  actor   NaN
682511                  Extra  actor   NaN
684215             Cab Driver  actor  23.0
711192        Penrose Sub Con  actor  32.0
779284    Immigration Officer  actor  45.0
783405        James (3 years)  actor  17.0
802478          Lobby Sub Con  actor  40.0
803728               Old Cobb  actor  50.0
806524         Bridge Sub Con  actor   NaN
829338                 Arthur  actor   2.0
878274                   Nash  actor  12.0
907468                  Eames  actor   4.0
932903                 Lawyer  actor  21.0
971196             Pedestrian  actor   NaN

In [9]:
Inception_roles_unranked=data[(data[title_column]=='Inception') & data[n_column].isnull()]

In [10]:
count_unranked_roles = len(Inception_roles_unranked)
print(f'the number of the rolesin Inception not ranked by an n value:{count_unranked_roles}')

the number of the rolesin Inception not ranked by an n value:8

### But how many roles in the movie "Inception" did receive an "n" value?

In [5]:
Inception_roles_n_value=data[(data['title']=='Inception') & (data['n'].isnull())]

In [6]:
num_roles_with_n_value = Inception_roles_n_value.shape[0]
print(num_roles_with_n_value)

8

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [11]:
n_column='n'
title_column='title'
cast_column='name'

In [178]:
North_by_Northwest_cast=data[(data[title_column]=='North by Northwest') & data[n_column].notnull()]

In [182]:
sorted_cast =North_by_Northwest_cast.sort_values(by=n_column)
print(sorted_cast[[cast_column,n_column]])

                     name     n
840374         Cary Grant   1.0
343701     Leo G. Carroll   5.0
642085  Robert Ellenstein  11.0
447893    Philip Coolidge  13.0
198496       Edward Binns  15.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [12]:
Sleuth_1972_cast=data[(data[title_column]=='Sleuth') & (data['year']==1972) & data[n_column].notnull()]

In [13]:
sorted_cast =Sleuth_1972_cast.sort_values(by=n_column)
print(sorted_cast[[cast_column,n_column]])

                  name    n
314691   Michael Caine  2.0
360365  Alec Cawthorne  3.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [185]:
Sleuth_2007_cast=data[(data[title_column]=='Sleuth') & (data['year']==2007) & data[n_column].notnull()]

In [186]:
sorted_cast =Sleuth_2007_cast.sort_values(by=n_column)
print(sorted_cast[[cast_column,n_column]])

                 name    n
314692  Michael Caine  1.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [19]:
n='n'
title='title'
year='year'
name='name'

In [5]:
Hamlet_1921=data[(data['title']=='Hamlet') & (data['year']==1921)]

In [6]:
num_character =len(Hamlet_1921)
print(num_character)

3

In [28]:
print(data[(data[title]=='Hamlet') & (data[year]==1921)])

         title  year              name   type     character    n
7438    Hamlet  1921  Fritz Achterberg  actor   Fortinbras,  9.0
442224  Hamlet  1921      Paul Conradi  actor  K?nig Hamlet  2.0
535307  Hamlet  1921  Anton De Verdier  actor       Laertes  7.0

### How many roles were credited in Branagh’s 1996 Hamlet?

In [63]:
Branagh_Hamlet_1996_roles=data[(data[name]=='Kenneth Branagh')& (data[year]==1996) & data[n].notnull()]

In [86]:
num_credited_roles = len(Branagh_Hamlet_1996_roles)
print(num_credited_roles)

1

### How many "Hamlet" roles have been listed in all film credits through history?

In [27]:
n='n'
title='title'
character='character'

In [37]:
Hamlet_roles= data[(data[character]=='Hamlet')]

In [38]:
total_Hamlet_roles=len(Hamlet_roles)
print(total_Hamlet_roles)

38

### How many people have played an "Ophelia"?

In [39]:
Ophelia_actor=data[(data[character]=='Ophelia')]

In [93]:
num_Ophelia_actor =Ophelia_actor[name]
print(num_Ophelia_actor)

238855        Amy Bourque
395196     Josie Chisholm
453835    Crystal Cordero
835461      Lucas Grabeel
Name: name, dtype: object

In [94]:
num_Ophelia_actor =Ophelia_actor[name].nunique()
print(num_Ophelia_actor)

4

### How many people have played a role called "The Dude"?

In [40]:
The_Dude_actor=data[(data[character]=='The Dude')]

In [41]:
num_The_Dude_actor =The_Dude_actor[name]
print(num_The_Dude_actor)

261792      Jeff Bridges
326893       Jordan Cann
480810     Scott Crowell
549887    Chris DeMarcus
588962       Mike Donlin
607151    Devin The Dude
Name: name, dtype: object

In [99]:
num_The_Dude_actor =The_Dude_actor[name].nunique()
print(num_The_Dude_actor)

6

### How many people have played a role called "The Stranger"?

In [101]:
The_Stranger_actor=data[(data[character]=='The Stranger')]

In [102]:
num_The_Stranger_actor =The_Stranger_actor[name].nunique()
print(num_The_Stranger_actor)

80

### How many roles has Sidney Poitier played throughout his career?

In [30]:
name='name'
title='title'
n='n'
actor='actor'

In [7]:
Sidney_Poitier_roles=data[(data['name'].str.contains('Sidney Poitier',case=False))]

In [8]:
num_roles=len(Sidney_Poitier_roles)
print(num_roles)

0

### How many roles has Judi Dench played?

In [46]:
Judi_Dench_roles = data[(data[name]=='Judi Dench') & data[n].notnull()]

In [47]:
num_Judi_Dench_roles=len(Judi_Dench_roles)
print(f' the number of roles played:{num_Judi_Dench_roles}')

 the number of roles played:0

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [31]:
Cary_Grant_supporting_roles_1940=data[(data['n']==2) & (data['type']=='actor') & (data['year']==1940)]

In [34]:
sorted_Cary_Grant_supporting_roles_1940= Cary_Grant_supporting_roles_1940.sort_values('year')

In [37]:
print(sorted_Cary_Grant_supporting_roles_1940[['title','year']])

                           title  year
15124                  Ett brott  1940
691965           El charro Negro  1940
695095               Infidelidad  1940
698347   The Great Plane Robbery  1940
698419       My Little Chickadee  1940
...                          ...   ...
459308    Alessandro sei grande!  1940
461642          Capitan Fracassa  1940
461643          Capitan Fracassa  1940
296415             Carolina Moon  1940
1040451              Band Waggon  1940

[179 rows x 2 columns]

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [39]:
Cary_Grant_leading_roles_1940=data[(data['n']==1) & (data['type']=='actor') & (data['year']==1940)]

In [41]:
sorted_Cary_Grant_leading_roles_1940= Cary_Grant_leading_roles_1940.sort_values('year')
print(sorted_Cary_Grant_leading_roles_1940[['title','year']])

                                 title  year
9357             The Ramparts We Watch  1940
698430                   The Bank Dick  1940
715871                  Santa Fe Trail  1940
715889                    The Sea Hawk  1940
715896                   Virginia City  1940
...                                ...   ...
285717                The Middle Watch  1940
285699         Bulldog Sees It Through  1940
278284   Oh, Johnny, How You Can Love!  1940
296849                Alias the Deacon  1940
1047924           'Swing it' magistern  1940

[283 rows x 2 columns]

### How many roles were available for actors in the 1950s?

In [49]:
actor_roles_1950 = data[(data[year]//10==195)]

In [50]:
num_roles_1950 =len(actor_roles_1950)
print(num_roles_1950)

67706

### How many roles were available for actresses in the 1950s?

In [57]:
actresses_roles_1950 = data[(data[year]//10==195)]

In [58]:
num_roles_1950 =len(actresses_roles_1950)# in data not mention actress thats why its show same value as actor
print(num_roles_1950)

67706

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [64]:
leading_roles_until_1980 = data[(data['n']==1) & (data['year']<= 1980)]

In [60]:
num_leading_roles_until_1980=len(leading_roles_until_1980)
print(num_leading_roles_until_1980)

18968

### How many non-leading roles were available through from the beginning of film history through 1980?

In [65]:
non_leading_roles_until_1980 = data[(data['n']!=1) & (data['year']<= 1980)]

In [66]:
num_non_leading_roles_until_1980=len(non_leading_roles_until_1980)
print(num_non_leading_roles_until_1980)

351862

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [67]:
minor_roles_until_1980 = data[(data['n'].isna()) & (data['year']<= 1980)]

In [68]:
num_minor_roles_until_1980=len(minor_roles_until_1980)
print(num_minor_roles_until_1980)

149991