In [1]:
%matplotlib inline
import pandas as pd

In [2]:
data =pd.read_csv("C:/Users/Hira singh/Desktop/cast 1.csv")
data.head(3)

                 title  year      name   type        character     n
0       Closet Monster  2015  Buffy #1  actor          Buffy 4   NaN
1      Suuri illusioni  1985    Homo $  actor           Guests  22.0
2  Battle of the Sexes  2017   $hutter  actor  Bobby Riggs Fan  10.0

# How many movies are listed in the titles dataframe?

In [3]:
data.title

0                            Closet Monster
1                           Suuri illusioni
2                       Battle of the Sexes
3                      Secret in Their Eyes
4                                Steve Jobs
                         ...
3611207                             Foxtrot
3611208    Niceland (Population. 1.000.002)
3611209                           Skammdegi
3611210                        U.S.S.S.S...
3611211                   Bye Bye Blue Bird
Name: title, Length: 3611212, dtype: object

In [18]:
data.count()

title        3611212
year         3611212
name         3611212
type         3611212
character    3611212
n            2231970
dtype: int64

### What are the earliest two films listed in the titles dataframe?

In [17]:
data.head(2)

             title  year      name   type character     n
0   Closet Monster  2015  Buffy #1  actor   Buffy 4   NaN
1  Suuri illusioni  1985    Homo $  actor    Guests  22.0

### How many movies have the title "Hamlet"?

In [47]:
data.columns

Index(['title', 'year', 'name', 'type', 'character', 'n'], dtype='object')

In [19]:
data[data.title.str.contains('Hamlet')]

,title,year,name,type,character,n
1615,Hamlet,1996,Riz Abbasi,actor,Attendant to Claudius,1.0
4250,Royal Shakespeare Company: Hamlet,2016,Hiran Abeysekera,actor,Horatio,8.0
6421,"Hamlet, Prince of Denmark",1997,Ernest Abuba,actor,The King,NaN
7438,Hamlet,1921,Fritz Achterberg,actor,"Fortinbras,",9.0
11242,Hamlet,2009,Hayden Adams,actor,Laertes,7.0
...,...,...,...,...,...,...
3575785,Zombie Hamlet,2012,Emmalee Wilson,actress,Annabellle Beauchamps,NaN
3578802,Hamlet,1996,Kate Winslet,actress,Ophelia,46.0
3603822,Hamlet 2,2008,Lydia Zazueta,actress,Audience Member,NaN
3607177,Hamlet's Ghost,2015,Stephanie Zimbalist,actress,Justina Keller,7.0
3607178,Hamlet's Ghost,2015,Stephanie Zimbalist,actress,Queen Gertrude,7.0

In [20]:
data['title'].value_counts()['Hamlet']

313

### How many movies are titled "North by Northwest"?

In [21]:
data[data.title.str.contains('North by Northwest')]

,title,year,name,type,character,n
12151,North by Northwest,1959,Stanley Adams,actor,Lieutenant Harding,NaN
27852,North by Northwest,1959,Andy Albin,actor,Farmer,NaN
54093,North by Northwest,1959,Don Anderson,actor,Worker,NaN
54307,North by Northwest,1959,Ernest Anderson,actor,Porter on Twentieth Century Ltd.,NaN
92195,North by Northwest,1959,Malcolm Atterbury,actor,Man at Prairie Crossing,NaN
...,...,...,...,...,...,...
3361396,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
3416124,North by Northwest,1959,Doris Singh,actress,First United Nations Receptionist,NaN
3437248,North by Northwest,1959,Helen Spring,actress,Bidder,NaN
3567500,North by Northwest,1959,Susan Whitney,actress,Attendant,NaN
3578877,North by Northwest,1959,Paula Winslowe,actress,Woman at Auction,NaN

In [22]:
data['title'].value_counts()['North by Northwest']

112

### When was the first movie titled "Hamlet" made?

In [24]:
Hamlet_data= data[data["title"]=='Hamlet']
print(Hamlet_data)

          title  year              name     type              character     n
1615     Hamlet  1996        Riz Abbasi    actor  Attendant to Claudius   1.0
7438     Hamlet  1921  Fritz Achterberg    actor            Fortinbras,   9.0
11242    Hamlet  2009      Hayden Adams    actor                Laertes   7.0
11243    Hamlet  2009      Hayden Adams    actor                 Player   7.0
13907    Hamlet  1913       Eric Adeney    actor               Reynaldo  14.0
...         ...   ...               ...      ...                    ...   ...
3505738  Hamlet  1969    Jennifer Tudor  actress             Court lady  23.0
3528322  Hamlet  2000      Diane Venora  actress               Gertrude   3.0
3557773  Hamlet  1996     Perdita Weeks  actress          Second Player  44.0
3562331  Hamlet  2015   Katie (II) West  actress                Ophelia   7.0
3578802  Hamlet  1996      Kate Winslet  actress                Ophelia  46.0

[313 rows x 6 columns]

In [27]:
Hamlet=data[data['title'].str.contains('Hamlet')]
sorted_Hamlet=Hamlet.sort_values('year')
print(sorted_Hamlet)

                                     title  year                    name  \
1545289                             Hamlet  1910       Jean Mounet-Sully
3369033                             Hamlet  1911           Emilie Sannom
1233662                             Hamlet  1911         Oscar Langkilde
3015440                             Hamlet  1911            Ella La Cour
1592118                             Hamlet  1911              Alwin Neu?
...                                    ...   ...                     ...
2356154  Royal Shakespeare Company: Hamlet  2016             Temi Wilkey
2356153  Royal Shakespeare Company: Hamlet  2016             Temi Wilkey
324361                        Hamlet (III)  2016       Tim (XX) Campbell
2136419                     Redneck Hamlet  2017             Girard Swan
2052041                     Redneck Hamlet  2017  Hannah Elizabeth Smith

            type                character     n
1545289    actor                   Hamlet   NaN
3369033  actress                  Ophelia   4.0
1233662    actor                  Horatio   6.0
3015440  actress                 Gertrude   3.0
1592118    actor                   Hamlet   1.0
...          ...                      ...   ...
2356154    actor  Gravedigger's Assistant  18.0
2356153    actor                Francisca  18.0
324361     actor                  Horatio   NaN
2136419    actor                   Hamlet   NaN
2052041    actor                  Ophelia   NaN

[921 rows x 6 columns]

In [28]:
first_Hamlet_year=sorted_Hamlet['year'].iloc[0]
print(f'the first"Hamlet" movie was made in {first_Hamlet_year}')

the first"Hamlet" movie was made in 1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [33]:
data.loc[data['title']=='Treasure Island']

,title,year,name,type,character,n
9432,Treasure Island,1934,Robert Adair,actor,Tom - Seaman,NaN
13253,Treasure Island,1950,Chris Adcock,actor,Pike,26.0
16246,Treasure Island,1985,Yves Afonso,actor,French captain,8.0
42039,Treasure Island,1972,Cristino Almod?var,actor,O'Brien,16.0
55071,Treasure Island,1934,John (XII) Anderson,actor,Pirate of the Spanish Main,18.0
...,...,...,...,...,...,...
3415912,Treasure Island,1999,Rachel Singer,actress,Anna,6.0
3471316,Treasure Island,1934,Jane Talent,actress,Streetwalker,NaN
3507587,Treasure Island,1999,Guinevere Turner,actress,Evelyn,14.0
3553298,Treasure Island,1918,Eleanor Washington,actress,Prologue Player,NaN
3556764,Treasure Island,1973,Jane Webb,actress,Mrs. Hawkins,6.0

In [34]:
Treasure_Island_title=data[data['title'].str.contains('Treasure Island',case=False,na=False)]

In [37]:
sorted_Treasure_Island_title=Treasure_Island_title.sort_values(by='year')
print(sorted_Treasure_Island_title[['title','year']])

                                          title  year
1417884                         Treasure Island  1918
830114                          Treasure Island  1918
840745                          Treasure Island  1918
909157                          Treasure Island  1918
1261579                         Treasure Island  1918
...                                         ...   ...
112778   National Theatre Live: Treasure Island  2015
582897   National Theatre Live: Treasure Island  2015
2654964  National Theatre Live: Treasure Island  2015
511053   National Theatre Live: Treasure Island  2015
2770990  National Theatre Live: Treasure Island  2015

[525 rows x 2 columns]

### How many movies were made in the year 1950?

In [40]:
movies_1950=data[data['year']==1950]
print(movies_1950[['title','year']])

                             title  year
266               Palletoori Pilla  1950
429                   Hallin Janne  1950
430                   Hallin Janne  1950
1481     Fortunes of Captain Blood  1950
1497          The Baron of Arizona  1950
...                            ...   ...
3610440           La vida en broma  1950
3610445               Quinto patio  1950
3610681    Harukanari haha no kuni  1950
3610827       Anderssonskans Kalle  1950
3611137         Akdeniz korsanlari  1950

[22006 rows x 2 columns]

### How many movies were made in the year 1960?

In [41]:
movies_1960=data[data['year']==1960]
print(movies_1960[['title','year']])

                              title  year
68                     De zaak M.P.  1960
115             Thunder in Carolina  1960
133                        Noi duri  1960
265      Sri Venkateswara Mahatmyam  1960
268      Sri Venkateswara Mahatmyam  1960
...                             ...   ...
3610216                     Domaren  1960
3610248    Alla vi barn i Bullerbyn  1960
3610684             Kawaita mizuumi  1960
3611050                    Omringet  1960
3611127                      Venner  1960

[18456 rows x 2 columns]

### How many movies were made from 1950 through 1959?

In [42]:
movies_1950=data[(data['year']>=1950) & (data['year']<=1959)]

In [44]:
print(f'the number of the movie is:{len(movies_1950)}')

the number of the movie is:210986

### In what years has a movie titled "Batman" been released?

In [45]:
Batman_movies=data[data['title'].str.contains('Batman')]

In [46]:
print(Batman_movies[['title','year']])

                                      title  year
1026                  Batman Fights Dracula  1967
1027                  Batman Fights Dracula  1967
4281     Batman v Superman: Dawn of Justice  2016
11311    Batman v Superman: Dawn of Justice  2016
14827                     Batman: The Movie  1966
...                                     ...   ...
3583648  Batman v Superman: Dawn of Justice  2016
3586919  Batman v Superman: Dawn of Justice  2016
3597620                   Batman: The Movie  1966
3607393             B@ (Batman Parody Film)  2016
3609169               Alyas Batman en Robin  1991

[1255 rows x 2 columns]

### How many roles were there in the movie "Inception"?

In [141]:
Inception_character=data[(data['title']=='Inception') & (data['character'].notnull())]

In [142]:
num_character = Inception_character.shape[0]
print(num_character)

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [50]:
n ='n'
title ='title'

In [51]:
Inception_movies=data[data['title'].str.contains('Inception')]
print(Inception_movies[['title','year','character','type','n']])

                                                     title  year  \
56138    Fraud in the Inception: Who killed Robert Haml...  2013
94333                                            Inception  2010
143138                                           Inception  2010
176819                                           Inception  2010
190249                                           Inception  2010
...                                                    ...   ...
3238950                                          Inception  2010
3292669                                          Inception  2010
3319073                                          Inception  2010
3325768                                          Inception  2010
3560127                                          Inception  2010

                     character     type     n
56138                      Mac    actor   NaN
94333            LAX Passenger    actor   NaN
143138   Fischer's Jet Captain    actor  44.0
176819                Browning    actor   8.0
190249        Mombasan Gambler    actor   NaN
...                        ...      ...   ...
3238950                Ariadne  actress   3.0
3292669          Lobby Sub Con  actress  43.0
3319073          Private Nurse  actress  48.0
3325768                 Blonde  actress  25.0
3560127                Old Mal  actress  51.0

[86 rows x 5 columns]

In [52]:
Inception_roles_unranked=data[(data[title_column]=='Inception') & data[n_column].isnull()]

In [53]:
count_unranked_roles = len(Inception_roles_unranked)
print(count_unranked_roles)

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [82]:
Inception_roles_n_value=data[(data['title']=='Inception') & (data['n'].isnull())]

In [85]:
num_roles_with_n_value = Inception_roles_n_value.shape[0]
print(num_roles_with_n_value)

26

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [91]:
n='n'
title='title'
name='name'

In [92]:
North_by_Northwest_name=data[(data[title]=='North by Northwest') & data[n].notnull()]

In [93]:
sorted_name=North_by_Northwest_name.sort_values(by='n')
print(sorted_name[['name','n']])

                         name     n
840374             Cary Grant   1.0
3361396       Eva Marie Saint   2.0
1404704           James Mason   3.0
3024085   Jessie Royce Landis   4.0
343701         Leo G. Carroll   5.0
2923056  Josephine Hutchinson   6.0
1634552           Philip Ober   7.0
1229083         Martin Landau   8.0
2357939         Adam Williams   9.0
1746383          Edward Platt  10.0
642085      Robert Ellenstein  11.0
2212083          Les Tremayne  12.0
447893        Philip Coolidge  13.0
1454363         Patrick McVey  14.0
198496           Edward Binns  15.0
1334726             Ken Lynch  16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [95]:
Sleuth_1972_name=data[(data[title]=='Sleuth') & (data['year']==1972) & data[n].notnull()]

In [96]:
sorted_name =Sleuth_1972_name.sort_values(by=n)
print(sorted_name[['name','n']])

                       name    n
1644328    Laurence Olivier  1.0
314691        Michael Caine  2.0
360365       Alec Cawthorne  3.0
1412647  John (II) Matthews  4.0
2619278  Eve (III) Channing  5.0
1396572        Teddy Martin  6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [97]:
Sleuth_2007_name=data[(data[title]=='Sleuth') & (data['year']==2007) & data[n].notnull()]

In [98]:
sorted_name =Sleuth_2007_name.sort_values(by=n)
print(sorted_name[[cast,n]])

                  name    n
314692   Michael Caine  1.0
1246855       Jude Law  2.0
1741124  Harold Pinter  3.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [8]:
year='year'
character='character'

In [15]:
Hamlet_1921=data[(data['title']=='Hamlet') & (data['year']==1921)]

In [17]:
num_character =len(Hamlet_1921)
print(num_character)

9

In [103]:
print(data[(data[title]=='Hamlet') & (data[year]==1921)])

          title  year                    name     type         character    n
7438     Hamlet  1921        Fritz Achterberg    actor       Fortinbras,  9.0
442224   Hamlet  1921            Paul Conradi    actor      K?nig Hamlet  2.0
535307   Hamlet  1921        Anton De Verdier    actor           Laertes  7.0
1095274  Hamlet  1921         Hans Junkermann    actor          Polonius  6.0
2106367  Hamlet  1921            Heinz Stieda    actor           Horatio  5.0
2289163  Hamlet  1921  Eduard von Winterstein    actor          Claudius  4.0
2562876  Hamlet  1921         Mathilde Brandt  actress  K?nigin Gertrude  3.0
2935728  Hamlet  1921          Lilly Jacobson  actress           Ophelia  8.0
3209199  Hamlet  1921            Asta Nielsen  actress            Hamlet  1.0

### How many roles were credited in Branagh’s 1996 Hamlet?

In [110]:
Branagh_Hamlet_1996_roles=data[(data[name]=='Kenneth Branagh')& (data[year]==1996) & data[n].notnull()]

In [111]:
num_credited_roles = len(Branagh_Hamlet_1996_roles)
print(num_credited_roles)

1

### How many "Hamlet" roles have been listed in all film credits through history?

In [112]:
Hamlet_roles= data[(data[character]=='Hamlet')]

In [113]:
total_Hamlet_roles=len(Hamlet_roles)
print(total_Hamlet_roles)

91

### How many people have played an "Ophelia"?

In [116]:
Ophelia_actor=data[(data[character]=='Ophelia')]

In [117]:
num_Ophelia_actor =Ophelia_actor[name]
print(num_Ophelia_actor)

238855              Amy Bourque
395196           Josie Chisholm
453835          Crystal Cordero
835461            Lucas Grabeel
1315145     Catherine (IV) Lord
                   ...
3538349          Ingrid Vollset
3551691         Marsha Warfield
3552384    Jennifer Lynn Warren
3562331         Katie (II) West
3578802            Kate Winslet
Name: name, Length: 111, dtype: object

In [118]:
num_Ophelia_actor =Ophelia_actor[name].nunique()
print(num_Ophelia_actor)

109

### How many people have played a role called "The Dude"?

In [119]:
The_Dude_actor=data[(data[character]=='The Dude')]

In [120]:
num_The_Dude_actor =The_Dude_actor[name]
print(num_The_Dude_actor)

261792             Jeff Bridges
326893              Jordan Cann
480810            Scott Crowell
549887           Chris DeMarcus
588962              Mike Donlin
607151           Devin The Dude
1051244     Matthew (XIX) James
1098711      Christopher Kadish
1317786        Jason Loughridge
1336484             Steve Lyons
1458465          Mark Alan Meek
1485772             Jerry Miley
1720449        House Peters Jr.
1759296    Thomas (VIII) Porter
1772919         Jason Priestley
2122519            Bobby Styles
2250949         Dick Van Patten
2330925              Joel Weiss
Name: name, dtype: object

In [121]:
num_The_Dude_actor =The_Dude_actor[name].nunique()
print(num_The_Dude_actor)

18

### How many people have played a role called "The Stranger"?

In [122]:
The_Stranger_actor=data[(data[character]=='The Stranger')]

In [123]:
num_The_Stranger_actor =The_Stranger_actor[name].nunique()
print(num_The_Stranger_actor)

197

### How many roles has Sidney Poitier played throughout his career?

In [30]:
Sidney_Poitier_roles=data[(data['name'].str.contains('Sidney Poitier',case=False))]

In [31]:
num_roles=len(Sidney_Poitier_roles)
print(num_roles)

43

### How many roles has Judi Dench played?

In [9]:
name='name'
title='title'
n='n'
actor='actor'
character='character'

In [19]:
Judi_Dench_roles = data[(data[name]=='Judi Dench') & data[n].notnull()]

In [21]:
num_Judi_Dench_roles=len(Judi_Dench_roles)
print(f' the number of roles played:{num_Judi_Dench_roles}')

 the number of roles played:48

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [124]:
Cary_Grant_supporting_roles_1940=data[(data['n']==2) & (data['type']=='actor') & (data['year']==1940)]

In [125]:
sorted_Cary_Grant_supporting_roles_1940= Cary_Grant_supporting_roles_1940.sort_values('year')

In [126]:
print(sorted_Cary_Grant_supporting_roles_1940[['title','year']])

                              title  year
15124                     Ett brott  1940
1546227                Scatterbrain  1940
1546167                Curtain Call  1940
1542223  Meine Tochter lebt in Wien  1940
1537821      Brother Rat and a Baby  1940
...                             ...   ...
722139              Isle of Destiny  1940
721128              Babies for Sale  1940
721127              Babies for Sale  1940
890031           South of Pago Pago  1940
2418891        Sportowiec mimo woli  1940

[389 rows x 2 columns]

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [127]:
Cary_Grant_leading_roles_1940=data[(data['n']==1) & (data['type']=='actor') & (data['year']==1940)]

In [128]:
sorted_Cary_Grant_leading_roles_1940= Cary_Grant_leading_roles_1940.sort_values('year')
print(sorted_Cary_Grant_leading_roles_1940[['title','year']])

                         title  year
9357     The Ramparts We Watch  1940
1531393            River's End  1940
1531394            River's End  1940
1531399         Tear Gas Squad  1940
1531515             Hullabaloo  1940
...                        ...   ...
773192       East of the River  1940
773193            Flowing Gold  1940
773194            Flowing Gold  1940
754036      They Came by Night  1940
2413845         Sporting Blood  1940

[614 rows x 2 columns]

### How many roles were available for actors in the 1950s?

In [129]:
actor_roles_1950 = data[(data[year]//10==195)]

In [132]:
num_roles_1950 =len(actor_roles_1950)
print(num_roles_1950)

210986

### How many roles were available for actresses in the 1950s?

In [133]:
actresses_roles_1950 = data[(data[year]//10==195)] # in data not mention actress thats why its show same value as actor

In [134]:
num_roles_1950 =len(actresses_roles_1950)
print(num_roles_1950)

210986

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [135]:
leading_roles_until_1980 = data[(data['n']==1) & (data['year']<= 1980)]

In [136]:
num_leading_roles_until_1980=len(leading_roles_until_1980)
print(num_leading_roles_until_1980)

63924

### How many non-leading roles were available through from the beginning of film history through 1980?

In [137]:
non_leading_roles_until_1980 = data[(data['n']!=1) & (data['year']<= 1980)]

In [138]:
num_non_leading_roles_until_1980=len(non_leading_roles_until_1980)
print(num_non_leading_roles_until_1980)

1094780

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [139]:
minor_roles_until_1980 = data[(data['n'].isna()) & (data['year']<= 1980)]

In [140]:
num_minor_roles_until_1980=len(minor_roles_until_1980)
print(num_minor_roles_until_1980)

438086